html,
body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	clear: both;
	content: "";
	display: table;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

ul li:last-child {
	margin-bottom: 0;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

button,
label {
	cursor: pointer;
}

input,
button,
textarea {
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input::placeholder {
	color: inherit;
}

button {
	cursor: pointer;
}

input,
textarea {
	display: block;
	resize: none;
}

body {
	color: #414536;
	font-family: "DM Sans", arial;
	font-size: 18px;
	line-height: 28px;
	/* 155.556% */
}

.container {
	max-width: 1330px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}

.dn {
	display: none;
}

section {
	padding: 100px 0;
}

.sec_tit {
	color: #2C2F24;
	text-align: center;
	font-family: 'Playfair Display';
	font-size: 100px;
	line-height: 96px;
	/* 96% */
	font-weight: 400;
	margin-bottom: 20px;
}

.sec_sub_tit {
	color: #2c2f24;
	font-family: "Playfair Display", arial;
	font-size: 55px;
	font-style: normal;
	font-weight: 500;
	line-height: 60.5px;
	/* 110% */
}

.sec_desc {
	color: #495460;
	text-align: center;
	font-style: normal;
}

.color {
	color: #BE963F;
}

.dib {
	display: inline-block;
}

.hover {
	transition: 0.3s;
}

.hover:hover {
	color: #BE963F;
}

.btn {
	border-radius: 118px;
	border: 2px solid #2C2F24;
	transition: 0.3s;
	color: #182226;
	text-align: right;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	padding: 12px 24px;
	color: #AD343E;
}

.btn {
	text-align: center;
}

.btn:hover {
	background: #2C2F24;
	color: #fff;
}

.link {
	transition: 0.3s;
}

.link:hover {
	box-shadow: 0px 6px 5px 2px #836A36;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


/* header */

.head {
	padding: 20px 0;
	align-items: center;
}

.menu a {
	padding: 4px 16px;
	margin-right: 8px;
	color: #2C2F24;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	border-radius: 34px;
	transition: 0.3s;
}

.menu li:last-child a {
	margin-right: 0;
}

.menu a:hover {
	background: #DBDFD0;
}

/* main */
.main .sec_tit {
	max-width: 660px;
	margin: 0 auto 32px;
}

.main_txt {
	max-width: 537px;
	margin: 0 auto 40px;
	color: #2C2F24;
	text-align: center;
	font-size: 20px;
	line-height: 32px;
	/* 160% */
}

.main_btns {
	display: flex;
	justify-content: center;
}

.main_btns .btn {
	margin: 0 8px;

}

.main {
	background: url(/img/icons/main_bg.jpg) center no-repeat;
}

.btn__red {
	background: #AD343E;
	color: #fff;
	background-color: #AD343E;
}

.btn__red:hover {
	background-color: #2C2F24;
}

/* main */

.browse_card {
	border-radius: 12px;
	border: 2px solid var(--neutral-03, #DBDFD0);
	background: #FFF;
	width: calc((100% - 72px)/4);
	padding: 40px 34px 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.browse_ic {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: block;
	background: #f3f3f0;
}

/*food*/

.food_in {
	align-items: center;
}

.food_left {
	width: calc(50% - 45px);
	padding: 0 50px 50px 0;
	position: relative;
}

.food_info {
	position: absolute;
	bottom: 0;
	right: 0;
}

.food_right {
	width: calc(50% - 45px);

}

.food .sec_sub-tit {
	margin-bottom: 24px;
	font-family: Playfair Display;
}

.food_txt {
	color: #2C2F24;
	font-size: 18px;
	margin-bottom: 24px;
	line-height: 28px;
	/* 155.556% */
}

.food_text-2 {
	color: #414536;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	/* 150% */
	margin-bottom: 40px;
}

.food_info {
	border-radius: 12px;
	background: #474747;
	padding: 50px;
	color: #fff;
	width: 411px;
}

.food_info-txt {
	color: #FFF;
	font-family: DM Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	/* 125% */
	letter-spacing: -0.72px;
}

/*offer*/

.offer .sec_sub-tit {
	min-width: 675px;
	margin-bottom: 57px;
}

.offer_card {
	width: calc((100% - 48px)/4);
	transition: 0.3s;
	border-radius: 12px;
	padding-bottom: 20px;
}

.offer_card:hover {
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.offer_img {
	margin-bottom: 30px;
}

.offer_tit {
	color: #2C2F24;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 30px;
	/* 125% */
	letter-spacing: -0.72px;
	margin-bottom: 15px;
	padding-left: 10px;
}

.offer_txt {
	padding-left: 10px;
	color: #414536;
	font-family: DM Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	/* 150% */
}

/*fastest_food*/

.fastest_food .sec_sub-tit {
	max-width: 414px;
	color: var(--neutral-07, #2C2F24);
	padding-top: 50px;
	font-family: Playfair Display;
	font-size: 55px;
	font-style: normal;
	font-weight: 500;
	line-height: 60.5px;
	/* 110% */
	margin-bottom: 20px;

}

.ff_txt {
	max-width: 414px;
	color: var(--neutral-06, #414536);
	font-family: DM Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	/* 150% */
	margin-bottom: 50px;
}

.icons2 {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 20px;
	color: var(--neutral-07, #2C2F24);
	font-family: DM Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 26px;
	/* 130% */

}

.provide_l2 {
	align-items: stretch;
	padding-top: 27px 5px;
	margin-bottom: 24px 5px;
	margin-top: 30px;
	margin-left: 24px;

}

/*our*/

.our .sec_tit {
	margin-bottom: 64px;
}

.our_card {
	width: calc((100% - 48px)/3);
	border-radius: 12px;
	background: #F9F9F7;
	padding: 45px 35px 35px;
}

.our_tit {
	color: #AD343E;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	/* 125% */
	letter-spacing: -0.72px;
	padding-bottom: 24px;
}

.our_txt {
	font-size: 18px;
	line-height: 28px;
	/* 155.556% */
	padding-bottom: 32px;
	margin-bottom: 32px;
	border-bottom: 1px solid #D8DFD0;
}

.our_img {
	width: 70px;
	height: 70px;
}

.our_customer {
	justify-content: flex-start;
}

.our_info {
	padding-left: 20px;

}

.our_name {
	color: #2C2F24;
	font-family: DM Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	display: block;
}

.our_address {
	color: var(--neutral-06, #414536);
	font-family: DM Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	/* 150% */
}

/*blog*/

.blog_top {
	align-items: center;
	margin-bottom: 64px;
}

.blog_left {
	width: 50%;
}

.blog_right {
	width: 50%;
	padding-left: 24px;
}

.blog_right .blog_card {
	width: calc(50% - 12px);
}

/*footer*/

footer {
	padding-top: 120px;
	background: #474747;
}

.footer_copy {
	padding: 30px 0 85px;
	color: #ADB29E;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
}

.footer_big {
	padding-bottom: 100px;
	border-bottom: 1px solid #414536;
	color: #DBDFD0;
}

.footer_left {
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 30px;
}

.footer_nav {
	width: 17%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
}

.footer_tit {
	color: #fff;
}

.footer_right {
	width: 35%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
}

.footer_logo img {
	width: 56px;
	height: 55px;
	flex-shrink: 0;
}

.footer_logo {
	width: 212px;
	height: 55px;
	display: flex;
	align-items: center;
}

.footer_img {
	width: calc((100% - 15px) / 2);
	margin-bottom: 15px;
	border-radius: 12px;
	overflow: hidden;
	position: relative;
	margin-right: 1px;
}

.footer_img img {
	transition: 0.5s;
}

.footer_img:hover img {
	transform: scale(1.2);
}

.footer_img::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
	opacity: 0;
	z-index: 1;
	transition: 0.5s;
}

.footer_img:hover::before {
	opacity: 0.5;
}

.footer_icons {
	display: flex;
	justify-content: space-between;
	width: 176px;
}

.footer_list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
}

.footer_logo p {
	color: #FFF;
	font-family: Playfair Display;
	font-size: 34px;
	font-style: italic;
	line-height: 30px;
	/* 89.787% */
	letter-spacing: -0.4px;
}

/* feel */

.feel {
	background-image: url(/img/favicon/feel.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.feel_play img {
	margin-left: 574px;
	width: 106px;
	height: 106px;
}

.feel_tit {
	width: 596px;
	color: #fff;
	margin-left: 376px;
	font-family: Playfair Display;
	font-size: 55px;
	font-weight: 500;
	line-height: 60.5px;
}

.f_ic {
	width: 90px;
	height: 90px;
	display: block;
	margin-right: 24px;
}

.feel__1 .f_ic {
	background-image: url(/img/icons/feel2.png);
	background-position: center;
	background-repeat: no-repeat;
}

.feel__2 .f_ic {
	background-image: url(/img/icons/feel3.png);
	background-position: center;
	background-repeat: no-repeat;
}

.feel__3 .f_ic {
	background-image: url(/img/icons/feel4.png);
	background-position: center;
	background-repeat: no-repeat;
}

.feel_card {
	width: calc((100% - 48px) / 3);
	padding: 45px 35px 35px 35px;
	margin-top: 64px;
}

/*menu*/
.menu {
	color: var(--neutral-07, #2C2F24);
	text-align: center;
	font-family: Playfair Display;
	font-size: 100px;
	font-style: normal;
	font-weight: 400;
	line-height: 96px;
	/* 96% */
}

.menu_btns {
	margin-top: 50px;
}

.btn_all {
	background: #ad343e;
	color: #fff;
	border-color: #ad343e;
}

.btn_all:hover {
	border-color: #2c2f24;
}

/*quest*/

.guest_tit {
	color: #2C2F24;
	font-family: Playfair Display;
	font-size: 55px;
	font-weight: 500;
	line-height: 60.5px;
	/* 110% */
	width: 547px;
}

.txt {
	color: #414536;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	/* 150% */
	width: 556px;
	margin-top: 20px;
	margin-bottom: 50px;
}

.guest_info img {
	width: 672px;
	height: 884px;
	border-radius: 12px;
}

.guest_txt {
	width: calc(100% - (108px + 50%));
	margin-right: 108px;
}

.img {
	width: 50%;
}

.number {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.number_item:hover {
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.number_item {
	margin-right: 24px;
	margin-bottom: 24px;
	width: 35%;
	border-radius: 8px;
	border: 1px solid #DBDFD0;
	padding: 40px 34px 32px;
	text-align: center;
	font-family: "Playfair Display";
	font-size: 55px;
	line-height: 60.5px;
	/* 110% */
}

.number_item span {
	font-family: "DM Sans";
	display: block;
	color: #414536;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	line-height: 28px;
	/* 155.556% */
}
/*card*/

.card {
	background-color: #f2f2f2;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	width: 300px;
	margin: 20px;
}

h2 {
	color: #333;
}

.price {
	font-size: 24px;
	color: #ff6600;
	margin-bottom: 10px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin-bottom: 20px;
}

li {
	margin-bottom: 10px;
}

.buy-btn {
	background-color: #ff6600;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

/*menu*/
.menu_cards-flex {
	width: 306px;
	height: 417.469px;
	margin-bottom: 24px;
}

.menu_card {
	width: calc((100% - 24px) / 4);
	border-radius: 12px;
	border: 2px solid var(--neutral-03, #DBDFD0);
	background: var(--neutral-01, #FFF);
	margin-bottom: 24px;
	transition: 0.5s;
}

.menu_card:hover {
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.menu_txt1 {
	width: 557px;
	color: var(--neutral-06, #495460);
	text-align: center;

	/* Body/18px/Regular */
	font-family: DM Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	/* 155.556% */
	margin-bottom: 50px;
	margin-top: 20px;

	display: inline-block
}

.sec_sub-txt {
	color: var(--neutral-07, #2C2F24);
	text-align: center;

	/* Headline/H1 */
	font-family: Playfair Display;
	font-size: 100px;
	font-style: normal;
	font-weight: 400;
	line-height: 96px;
	/* 96% */
}

.menu_pounds {
	color: #AD343E;
	text-align: center;
	font-family: DM Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	/* 125% */
	letter-spacing: -0.72px;
	margin-bottom: 15px;
	margin-top: 20px;

}

.menu_tit {
	color: var(--neutral-07, #2C2F24);
	text-align: center;
	font-family: DM Sans;
	font-size: 20px;
	font-weight: 700;
	line-height: 26px;
	/* 130% */
	margin-bottom: 15px;

}

.menu_txt {
	color: var(--neutral-06, #414536);
	text-align: center;
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	/* 150% */
}

.app_tit {
	color: var(--neutral-07, #2C2F24);

	/* Headline/H2 */
	font-family: Playfair Display;
	font-size: 55px;
	font-style: normal;
	font-weight: 500;
	line-height: 60.5px;
	/* 110% */
	width: 346px;
	margin-left: 152px;
}

.app_txt {
	color: var(--neutral-06, #414536);

	/* Body/16px/Regular */
	font-family: DM Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	/* 150% */
	width: 346px;
	margin-left: 152px;
}

.menu_left {
	width: 50%;
}

.app_right {
	width: 50%;
}

/*pages*/

.pages {
	background: var(--neutral-02, #F9F9F7);
}
.pages_txt {
	color: var(--neutral-06, #414536);
	text-align: center;
	font-family: DM Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	/* 155.556% */
	margin-bottom: 72px;
}

.pages_cards {
	transition: 0.5s;
}

.pages_card {
	border-radius: 12px;
	border: 2px solid var(--neutral-02, #F9F9F7);
	background: var(--neutral-01, #FFF);
	width: 306px;
	height: 340px;
	margin-bottom: 30px;
}

.pages_card:hover {
	box-shadow: 0px 2.97872px 59.57446px 0px rgba(0, 0, 0, 0.08);
}

/*secret*/

.secret_tit {
	width: 1030px;
	color: var(--neutral-07, #2C2F24);
	text-align: center;
	font-family: Playfair Display;
	font-size: 55px;
	font-weight: 500;
	line-height: 60.5px;
	/* 110% */
	margin: 0 auto;
	margin-bottom: 50px;
}

.secret_titi {
	margin-top: 50px;
	min-width: 1086px;
}

/*contact*/

.contact_txt {
	width: 545px;
	text-align: center;
}

.contact_box {
	display: inline-flex;
	padding: 40px;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	border-radius: 16px;
	background: var(--neutral-01, #FFF);
}

.contact_box:hover {
	box-shadow: 0px 2.97872px 59.57446px 0px rgba(0, 0, 0, 0.08);
}

.contact_box {
	display: flex;
	width: 350px;
	height: 60px;
	padding: 0px 24px;
	align-items: center;
	gap: 10px;
	border-radius: 72px;
	border: 1px solid var(--neutral-03, #DBDFD0);
	background: var(--neutral-01, #FFF);
}

.contact_name {
	display: flex;
	width: 350px;
	height: 60px;
	padding: 0px 24px;
	align-items: center;
	gap: 10px;
	border-radius: 72px;
	border: 1px solid var(--neutral-03, #DBDFD0);
	background: var(--neutral-01, #FFF);
}

.contact_email {
	display: flex;
	width: 350px;
	height: 60px;
	padding: 0px 24px;
	align-items: center;
	gap: 10px;
	border-radius: 72px;
	border: 1px solid var(--neutral-03, #DBDFD0);
	background: var(--neutral-01, #FFF);
}

.secret ul li {
	list-style-type: decimal;
}

/*form*/

.form_in {
	border-radius: 16px;
	border: #FFF;
	background: #FFF;
	mix-blend-mode: hard-light;
	box-shadow: 0px 2.97872px 59.57446px 0px rgba(0, 0, 0, 0.08);
	min-width: 812px;
	margin: 0 auto;
	padding: 43px 50px 50px;
}

.form_txt {
	color: #2C2F24;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 8px;
	display: block;
}

.form_input-in {
	border-radius: 72px;
	border: 1px solid #DBDFD0;
	margin-bottom: 24px;
	padding: 0 24px;
}

.input {
	line-height: 56px;
	font-size: 16px;
}

.form_input {
	width: calc(50% - 12px);
}

.form_input__big {
	width: 100%;
}

.form-wrap {
	padding-bottom: 0;
	margin-bottom: -240px;
	z-index: 10;
	position: relative;
}

.map {
	padding-top: 0;
}

/*menu_apps*/
.app_left {
	width: 300px;
}

.app_right {
	width: calc(100% - 380px);
	margin: 0 12px 40px;
}

.app_card {
	width: 220px;
	height: 90px;
	margin: 0 12px 40px;
	background: #FFF;
	border-radius: 12px;
	border: 1px solid var #F9F9F7;
	box-shadow: 0px 2.97872px 59.57446px 0px rgba(0, 0, 0, 0.08);
	display: flex;
	justify-content: center;
	align-items: center;
}

.app_card__big {
	width: 260px;
}